workflows/workflow-b.json
{
  "nodes": [
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi students!\nget info from 3-8th sem regarding subjects and credits\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -608,
        -176
      ],
      "id": "a284b585-dbbf-4e39-a704-562d4553c555",
      "name": "When chat message received",
      "webhookId": "5a4cd85a-dcde-41c4-b34f-daf06eff633a"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "work with your data in Qdrant collection",
        "qdrantCollection": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        -208,
        80
      ],
      "id": "6a024cb7-8ad7-4055-9583-f6cd678db7dd",
      "name": "Qdrant Vector Store2",
      "credentials": {
        "qdrantApi": {
          "id": "gdvoFMCrYwwETdbp",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        48,
        -176
      ],
      "id": "5861e7f9-0686-4883-84b1-564fad3b2b09",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2-preview"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        256
      ],
      "id": "3d33880a-1f27-4d7b-8ee9-0a24a0a775d1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "gJTYoNwT0n4QjzpQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 1000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -336,
        32
      ],
      "id": "4f87de44-327e-494c-a413-4579696fd664",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "gJTYoNwT0n4QjzpQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant.\nAlways search the vector database before answering.\nUse retrieved context to answer.\nIf no relevant data is found, say \"No data found\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -320,
        -176
      ],
      "id": "c170974e-ef64-407b-91ae-940f8dd950de",
      "name": "AI Agent"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "b209d12c53fd53bb7dabb1e66fd124bc8316e1bae09b8710db8fb6c3ee75965a"
  }
}
